{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="col-lg-9">
    <h1 class="h1 mb-3">Settings: Dr. Pepper</h1>
    <form>
        <div class="mb-3">
            <label for="login" class="form-label">Login</label>
            <input type="text" class="form-control" id="login" value="dr_pepper">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" value="dr.pepper@mail.ru">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="nickname" value="Dr. Pepper">
        </div>
        <div class="mb-3">
            <label class="form-label">Upload Avatar</label>
            <div class="d-flex align-items-center">
                <img src="avatar.jpg" alt="Avatar" class="img-thumbnail me-3" style="width: 100px;">
                <input type="file" class="form-control" id="avatarUpload" aria-label="Upload">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
</div>
{% endblock %}